# Flutter/Dart artifacts
.dart_tool/
.packages
build/
*.iml
*.lock
.flutter-plugins
.flutter-plugins-dependencies
*.generated.dart

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/ServiceDefinitions.json

# Android
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
